@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-10px) rotate(0deg)
    }

    to {
        transform: rotate(360deg) translate(-10px) rotate(-360deg)
    }
}

.bubbles {
    position: relative;
    width: 100%
}

.bubbles .bubble-1 {
    top: 32rem;
    left: 2rem
}

.bubbles .bubble-2 {
    top: 22rem;
    left: 11rem
}

.bubbles .bubble-3 {
    top: 7rem;
    left: 18rem
}

.bubbles .bubble-4 {
    top: 30rem;
    right: 3rem
}

.bubbles .bubble-5 {
    top: 10rem;
    left: 3rem
}

.bubbles .bubble-6 {
    top: -8rem;
    left: 43rem
}

.bubbles .bubble-7 {
    top: -5rem;
    right: 20rem
}

.bubbles .bubble-8 {
    top: 47rem;
    right: 5rem
}

.bubbles .bubble-9 {
    top: 13rem;
    right: 28rem
}

.bubbles .bubble-10 {
    top: 40rem;
    right: 10rem
}

.bubbles .bubble-11 {
    top: 45rem;
    left: 7rem
}

.bubbles .bubble-12 {
    top: 13rem;
    right: 10rem
}

.bubbles .bubble-13 {
    top: -4rem;
    left: 15rem
}

.bubbles .circle-1 {
    top: 14rem;
    left: 14rem
}

.bubbles .circle-2 {
    top: 16rem;
    left: 25rem
}

.bubbles .circle-3 {
    top: 3rem;
    left: 2rem
}

.bubbles .circle-4 {
    top: -7rem;
    left: 29rem
}

.bubbles .circle-5 {
    top: 30rem;
    left: 18rem
}

.bubbles .circle-6 {
    top: 28rem;
    right: 35rem
}

.bubbles .circle-7 {
    top: 13rem;
    right: 2rem
}

.bubbles .circle-8 {
    top: 7rem;
    right: 13rem
}

.bubbles .circle-9 {
    top: 24rem;
    right: 15rem
}

.bubbles .circle-10 {
    top: -3rem;
    right: 7rem
}




.bg-primary {
    background-color: #4A154B !important
}

.bg-secondary {
    background-color: #091A3D !important
}

.bg-success {
    background-color: #2EB67D !important
}

.bg-info {
    background-color: #167895 !important
}

.bg-warning {
    background-color: #EBB12B !important
}

.bg-danger {
    background-color: #EB616A !important
}

.bg-light {
    background-color: #F7F7F7 !important
}

.bg-white {
    background-color: #fff !important
}

.bg-neutral {
    background-color: #fff !important
}

.bg-dark {
    background-color: #1D1C1D !important
}

.circle {
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: #611F6A
}

.bubble,
.bubble.bubble-bottom-right,
.bubble.bubble-bottom-left,
.bubble.bubble-top-right,
.bubble.bubble-top-left {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #611F6A
}

.bubble,
.bubble.bubble-bottom-left {
    border-radius: 50% 50% 50% 0%
}

.bubble.bubble-bottom-right {
    border-radius: 50% 50% 0% 50%
}

.bubble.bubble-top-right {
    border-radius: 50% 0% 50% 50%
}

.bubble.bubble-top-left {
    border-radius: 0% 50% 50% 50%
}

.big-bubble,
.big-bubble.bubble-bottom-right,
.big-bubble.bubble-bottom-left,
.big-bubble.bubble-top-right,
.big-bubble.bubble-top-left {
    width: 5rem;
    height: 5rem;
    background-color: #611F6A
}

.big-bubble,
.big-bubble.bubble-bottom-left {
    border-radius: 50% 50% 50% 0%
}

.big-bubble.bubble-bottom-right {
    border-radius: 50% 50% 0% 50%
}

.big-bubble.bubble-top-right {
    border-radius: 50% 0% 50% 50%
}

.big-bubble.bubble-top-left {
    border-radius: 0% 50% 50% 50%
}

.rotate-circle {
    position: absolute;
    animation: rotate 5s linear infinite
}

.rotate-bubble {
    position: absolute;
    animation: rotate 10s linear infinite
}