ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #42b983;
}

.page-header {
    padding: 6rem 0;
    width: 100%;
    background: #791E94;
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 1rem;
}

.new-todo-form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 3px;
    border: 1px solid #FAFAFA;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .15);
    margin-top: -3rem;
    background: white;
}

.new-todo-label {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-start;
    text-align: left;
    font-weight: bold;
}

.new-todo-input {
    padding: .5rem;
    border-radius: 3px;
    border: 1px solid lightgrey;
    font-size: 1rem;
    margin-top: .5rem;
    font-weight: normal;
}

.new-todo-button {
    font-size: 1rem;
    padding: .5rem .7rem;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    background: #791E94;
    flex: 1;
    margin-left: 1rem;
    border: 1px solid #791E94;
}

.todo-item {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;

    &:first-of-type {
        border-radius: 3px 3px 0 0;
    }

    &:last-of-type {
        border-bottom: 1px solid lightgrey;
        border-radius: 0 0 3px 3px;
    }
}

.todo-item-label {
    cursor: pointer;
    padding: 1rem;
}

.todo-item__checkbox {
    margin-right: 1rem;
}

.todo-list {
    max-width: 100%;
    margin: 2rem auto;
}