<div id="todo-app">
    <header class="page-header"></header>
    <section class="wrapper">
        <form class="new-todo-form">
            <label class="new-todo-label">
                <h4>New Todo</h4>
                <input type="text" class="new-todo-input" />
            </label>
            <button type="submit" class="new-todo-button">Add</button>
        </form>
        <ul class="todo-list">
            <li class="todo-item">
                <label class="todo-item-label">
                    <input type="checkbox" class="todo-item__checkbox">hi
                </label>
            </li>
        </ul>
    </section>
</div>